<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot, Thymeleaf and Bootstrap an Hello World Example</title>

    <link th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet"/>

</head>


<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Top navbar</a>
</nav>

<main role="main" class="container">
    <div class="jumbotron">

        <h1>Hello World Example</h1>

        <p class="lead">
            This is a simple example to show how to configure Spring Boot, Thymeleaf and Bootstrap.
        </p>

    </div>
</main>

</body>


</html>
